@using OnCampusRecruitment.DAL;
@using Microsoft.AspNet.Identity;

@{
    ViewBag.Title = "Dashboard";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - CampRecruit</title>
    
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/themes/base/css")    
    @Scripts.Render("~/bundles/jquery")    
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/modernizr")  
    
    <script>
        $(function () {
            $("#dialog-modal").dialog({
                autoOpen: false,               
                modal: true
            });
            $("#modal-opener").click(function () {
                $("#dialog-modal").dialog("open");
            });
        });
    </script>       

</head>
<body>

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("On Campus Recruitment", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Jobs", "Jobs", "Home")</li>
                    <li>@Html.ActionLink("Companies", "Index", "X")</li>
                    <li>@Html.ActionLink("Employer", "Index", "X")</li>
                </ul>

                <form class="navbar-form pull-left">
                    <input type="text" class="form-control" placeholder="Search this Site..." style="width:150px">
                    <button type="submit" class="btn btn-default"> <span class="glyphicon glyphicon-search"></span></button>
                </form>

                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>

    <div class="container row">
        <div class="container-fluid col-md-2">
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                                <a href="@Url.Action("Index", "Dashboard")">
                                    <span class="glyphicon glyphicon-home" aria-hidden="true" style="padding-right:5px">
                                    </span> Dashboard
                                </a>
                            </a>
                        </h4>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                                @{
                                    RecruitDB db = new RecruitDB();
                                    string CurrentUser = User.Identity.GetUserId();
                                    if (db.EmpProfiles.Where(r => r.UserID == CurrentUser).Any() == true)
                                    {
                                        <a href="@Url.Action("Edit", "Profile")">
                                            <span>
                                                <img src="~/Images/glyphicons-530-list-alt.png" />
                                                My Profile
                                            </span>
                                        </a>
                                    }
                                    else
                                    {
                                        <a href="@Url.Action("Create", "Profile")">
                                            <span>
                                                <img src="~/Images/glyphicons-530-list-alt.png" />
                                                My Profile
                                            </span>
                                        </a>
                                    }
                                }
                            </a>
                        </h4>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                                @{
                                    int Empid = 0;
                                    if (db.EmpProfiles.Where(r => r.UserID == CurrentUser).Any() == true)
                                    {
                                        Empid = db.EmpProfiles.Where(r => r.UserID == CurrentUser).First().EmpProfileID;
                                    }
                                    if (db.ProfilePhotos.Where(r => r.EmpProfileID == Empid).Any() == true)
                                    {
                                        <a href="@Url.Action("Edit", "ProfilePhoto")">
                                            <span class="glyphicon glyphicon-user" aria-hidden="true" style="padding-right:5px; color:black">
                                            </span>Profile Picture
                                        </a>
                                    }
                                    else if (db.EmpProfiles.Where(r => r.UserID == CurrentUser).Any() == true)
                                    {

                                        <a href="@Url.Action("Create", "ProfilePhoto")">
                                            <span class="glyphicon glyphicon-user" aria-hidden="true" style="padding-right:5px; color:black">
                                            </span>Profile Picture
                                        </a>
                                    }
                                    else
                                    {
                                        <a href="@Url.Action("Create", "Profile")">
                                            <span class="glyphicon glyphicon-user" aria-hidden="true" style="padding-right:5px; color:black">
                                            </span>Profile Picture
                                        </a>
                                    }
                                }
                            </a>
                        </h4>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                                @{
                                    int Empid2 = 0;
                                    if (db.EmpProfiles.Where(r => r.UserID == CurrentUser).Any() == true)
                                    { Empid = db.EmpProfiles.Where(r => r.UserID == CurrentUser).First().EmpProfileID; }
                                    if (db.Qualifications.Where(r => r.EmpProfileID == Empid2).Any() == true)
                                    {                                        
                                        <a href="@Url.Action("Edit", "Qualifications", new { id = Empid })">
                                            <span>
                                                <img src="~/Images/EducationPic.png" width="25" height="30" />
                                                Education
                                            </span>
                                        </a>
                                    }
                                    else if (db.EmpProfiles.Where(r => r.UserID == CurrentUser).Any() == true)
                                    {
                                        <a href="@Url.Action("Create", "Qualifications")">
                                            <span>
                                                <img src="~/Images/EducationPic.png" width="25" height="30" />
                                                Education
                                            </span>
                                        </a>
                                    }
                                    else
                                    {
                                        <a href="@Url.Action("Create", "Profile")">
                                            <span>
                                                <img src="~/Images/EducationPic.png" width="25" height="30" />
                                                Education
                                            </span>
                                        </a>
                                    }
                                }
                            </a>
                        </h4>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
                                @{
                                    RecruitDB db1 = new RecruitDB();
                                    string CurrentUser1 = User.Identity.GetUserId();
                                    <a href="@Url.Action("Index", "Skill")">
                                        <span>
                                            <img src="~/Images/Skill Icon.png" width="25" height="30" />
                                            Skills
                                        </span>
                                    </a>

                                }
                            </a>
                        </h4>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">
                                <a href="@Url.Action("Index", "WorkExperience")">
                                    <span>
                                        <img src="~/Images/WorkExperience.png" width="28" height="30" />
                                    </span>
                                    <span style="font-size:12px">Work Experience</span>
                                </a>

                            </a>
                        </h4>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse6">
                                <span>
                                    <img src="~/Images/glyphicons-30-notes-2.png" />
                                    Resume
                                </span>
                            </a>
                        </h4>
                    </div>
                    <div id="collapse6" class="panel-collapse collapse">
                        <div class="panel-body">
                            <h4>
                                <a href="@Url.Action("Create", "CV")">
                                    <span class="glyphicon glyphicon-upload" aria-hidden="true" style="padding-right:5px; color:black">
                                    </span>Upload CV
                                </a>
                                <br>
                            </h4>
                            <h4>
                                <a href="@Url.Action("Index", "CV")">
                                    <span>
                                        <img src="~/Images/ManageCV.png" width="28" height="30" />
                                        Manage CV
                                    </span>
                                </a>
                                <br>
                            </h4>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse7">
                                <a href="@Url.Action("Index", "Dashboard")">
                                    <span class="glyphicon glyphicon-book" aria-hidden="true" style="padding-right:5px">
                                    </span> Public Profile
                                </a>
                            </a>
                        </h4>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse8">
                                <a href="@Url.Action("AppliedJobs", "Apply")">
                                    <span class="glyphicon glyphicon-check" aria-hidden="true" style="padding-right:5px">
                                    </span> Applied Jobs
                                </a>
                            </a>
                        </h4>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse9">
                                <span class="glyphicon glyphicon-cog" style="padding-right:5px">
                                </span>My Account
                            </a>
                        </h4>
                    </div>
                    <div id="collapse9" class="panel-collapse collapse">
                        <div class="panel-body">
                            <h4>
                                <a href="@Url.Action("Index", "Manage")">
                                    <span class="glyphicon glyphicon-cog" style="padding-right:3px; color:black">
                                    </span>
                                    <span style="font-size:15px">Manage Account</span>
                                </a>
                                <br>
                            </h4>
                            <h4>
                                <a href="@Url.Action("ChangePassword", "Manage")">
                                    <span class="glyphicon glyphicon-wrench" style="padding-right:5px; color:black">
                                    </span>
                                    <span style="font-size:15px">Reset Password</span>
                                </a>
                                <br>
                            </h4>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="container-fluid body-content col-md-9">
            @RenderBody()
            <hr />
        </div>
    </div>

    <div class="row">
        <footer>
            <div class="container-fluid col-md-3">
                &copy; @DateTime.Now.Year - On Campus Recruitment <span style="word-spacing: 50px; white-space:pre">  </span>
            </div>
            <div class="container-fluid col-md-9">
                @Html.ActionLink("About Us", "", "")        |
                @Html.ActionLink("Contact Us", "", "")     |
                @Html.ActionLink("Employee", "", "")     |
                @Html.ActionLink("Jobs", "", "")            |
                @Html.ActionLink("Companies", "", "")    |
                @Html.ActionLink("Employer", "", "")
            </div>
        </footer>
    </div>
   
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
